body{
    margin: 0;
    padding: 0;
    background-color: #5e5050;
    background-size: cover;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: rgb(223, 230, 217);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
.box img{
    border-radius: 50%;
    width: 200px;
    height: 200px;

}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100
    ;
}
.box h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;


}
.box p{
    text-align: justify;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #000000;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }  
  ul{margin: 0;
     padding: 0;
    }
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
     
}